@import './../../utils/variables.scss';

.station-marker {
  position: relative;
  height: 106px;
}
.dot {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #4a90e2;
  border-radius: 50%;
}
.train-icon {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.station {
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  border: 1px solid grey;
  border-radius: 25px;
  margin: 6px 0px;
}

.current-station{
  // background-color: #ecf2f3;
  background-color: #d1efc2;
}

.time {
  width: 80px;
  text-align: center;
}
.left {
  order: 1;
}
.station-info {
  order: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
}
p{
  margin-bottom: 0;
}
.right {
  order: 3;
  display: flex;
  flex-direction: column;
}

.danger{
  color: $danger-color;
}

.success{
  color: $success-color;
}

.station-name{
  font-weight: 500;
  color: $theme-color-1;
  font-size: larger;
}
.current-station-name{
  // color: $danger-color-2;
  color: #095f00;
}

.station-details{
  font-size: small;
}

.prev-station{
  opacity: 0.4;
}

::ng-deep .mat-icon{
  height: 3rem;
  width: 3rem;
}