
.journey-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // height: 100px;
    // background-color: #f0f0f0;
    // padding: 20px;
    box-sizing: border-box;
  }

  .station {
    font-weight: 500;
    padding: 10px;
    // background-color: #ddd;
    border-radius: 25px;

  }

  .track {
    flex-grow: 1;
    height: 3px;
    background-color: grey;
    margin: 0 20px;
    position: relative;
  }

  .train {
    font-size: 24px;
    position: absolute;
    top: -3rem;
    left: 0;
    animation: moveTrain 5s linear infinite;
  }

  @keyframes moveTrain {
    0% { left: 0; }
    100% { left: calc(100% - 24px); }
  }