@import '../../utils/variables.scss';

.title{
    font-weight: 500;
}

.my-card{
    border: 1px solid $theme-color-1;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba($theme-color-3, 0.5);
    border-radius: 10px;
    border-bottom: 5px solid $theme-color-1;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.status-text {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.start {
    background-color: yellow;
    border: 2px solid $theme-color-1;
}

.end {
    background-color: lightblue;
    border: 2px solid $theme-color-1;
}

.line {
    width: 55%;
    height: 4px;
    background-color: grey;
    margin: 0 5px;
}

::ng-deep .mat-stroked-button{
    border: 1px solid $theme-color-1;
    color: $theme-color-1;
  }
  
::ng-deep .mat-mdc-outlined-button:not(:disabled){
    border: 1px solid $theme-color-1;
    color: $theme-color-2 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white;
}
.duration{
    display: flex;
    align-items: center;
    justify-content: center
}

.time-icon{
    font-size: 20px;
}

.classes{
    // border: 1px dashed grey;
    // border-radius: 10px;
    border-right: 1px solid grey;
}

.classes:last-child{
    border: none;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.train-filter{
    // position: sticky;
    // top: 5rem;
    // z-index: 99;
}