@import '../../utils/variables.scss';

.title{
    font-weight: 600;
}

.my-card{
    border: 1px solid $secondary-color;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba($theme-color-4, 0.5);
    border-radius: 10px;
    border-bottom: 5px solid $secondary-color;
}

.container {
    text-align: center;
}

.status-text {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.start {
    background-color: yellow;
    border: 2px solid $secondary-color;
}

.end {
    background-color: lightblue;
    border: 2px solid $secondary-color;
}

.line {
    width: 55%;
    height: 4px;
    background-color: grey;
    margin: 0 5px;
}

::ng-deep .mat-stroked-button{
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
  
::ng-deep .mat-mdc-outlined-button:not(:disabled){
    border: 1px solid $secondary-color;
    color: $primary-color !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white;
}
.duration{
    display: flex;
    align-items: center;
    justify-content: center
}

.time-icon{
    font-size: 20px;
}

.classes{
    border: 1px dashed grey;
    border-radius: 10px;
}
.class{
    border-bottom: 1px solid grey;
}