@import '../../utils/variables.scss';

.title{
    font-weight: 600;
}

.card{
    border: 1px solid $secondary-color;
}

.container {
    text-align: center;
}

.status-text {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.start {
    background-color: yellow;
    border: 2px solid $secondary-color;
}

.end {
    background-color: lightblue;
    border: 2px solid $secondary-color;
}

.line {
    width: 55%;
    height: 4px;
    background-color: grey;
    margin: 0 5px;
}

::ng-deep .mat-stroked-button{
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }
  
::ng-deep .mat-mdc-outlined-button:not(:disabled){
    border: 1px solid $secondary-color;
    color: $primary-color !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white;
}

.journey-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
  }

  .station {
    font-weight: bold;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
  }

  .track {
    flex-grow: 1;
    height: 3px;
    background-color: #333;
    margin: 0 20px;
    position: relative;
  }

  .train {
    font-size: 24px;
    position: absolute;
    top: -20px;
    left: 0;
    animation: moveTrain 5s linear infinite;
  }

  @keyframes moveTrain {
    0% { left: 0; }
    100% { left: calc(100% - 24px); }
  }