<div class="my-3" >
    <button mat-stroked-button class="primary-color mx-2" type="submit" [routerLink]="['/search-train']" [queryParams]="{src: fromStation, dstn: toStation}" >Modify Search</button>
    
    <button mat-stroked-button  class="primary-color mx-2" type="submit" >All Dates</button>
    <!-- [matMenuTriggerFor]="menu" -->
    <!-- <mat-menu #menu="matMenu">
        @for (date of dates; track date) {
            <button mat-menu-item>{{date}}</button>
        }
    </mat-menu> -->
    <button mat-stroked-button class="primary-color mx-2" type="submit" >Sort By</button>
   <app-moving-train-svg [fromStation]="fromStation" [toStation]="toStation" ></app-moving-train-svg> 
    <div class="container" >
        <div class="row">
        @for (train of trains; track train) {
            <div class="col-md-6">
                <div class="card my-3">
                    <div class="card-body" (click)="getTrainDetails(train.train_number, train.from_day)" >
                        <div class="card-title d-flex justify-content-center flex-column align-items-center">
                            <div class="title secondary-color" [matTooltip]="train.train_name" >{{train.train_name | truncate}}</div>
                            <div class="title secondary-color">Train No: {{train.train_number}}</div>
                        </div>
                        <hr>
                        <div class="card-text">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center" >
                                    <div class="f-w-500">{{train.train_src}},&nbsp;</div>
                                    <div class="f-w-500">{{train.from_std}}</div>
                                </div>
                                <div class="container">
                                    <p *ngIf="train.run_days.length === 7" class="status-text">Runs Daily</p>
                                    <p *ngIf="train.run_days.length !== 7" class="status-text">Runs on {{train.run_days.join(', ')}}</p>
                                    <div class="line-container">
                                        <div class="circle start"></div>
                                        <div class="line"></div>
                                        <div class="circle end"></div>
                                    </div>
                                    <p class="f-w-500 duration"><mat-icon class="time-icon" >access_time</mat-icon> {{train.duration}} h</p>
                                </div>
                                <div class="d-flex align-items-center" >
                                    <div class="f-w-500">{{train.train_dstn}},&nbsp;</div>
                                    <div class="f-w-500">{{train.to_std}}</div>
                                </div>  
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</div>