<!-- <div class="container">
  <div class="train-status-container">
    <h2>Train Status</h2>
    <div *ngFor="let t of previousStations">
      <app-train-info [train]="t" [status]="'past'" ></app-train-info>
    </div>
    <div class="current-station" >
    </div>
    <div *ngFor="let t of upcomingStations">
      <app-train-info [train]="t" [status]="'future'" ></app-train-info>
    </div>
  </div>
</div> -->

<div class="train-schedule mt-3">
  <div class="timeline">
    <div class="line"></div>
    <ng-container *ngFor="let station of stations; let i = index">
      <div class="station-marker" [class.current]="i === currentStationIndex">
        <div class="dot"></div>
        <ng-container *ngIf="i === currentStationIndex">
          <div class="train-icon">🚂</div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="stations">
    <div *ngFor="let station of stations" class="station">
      <div class="time left">{{ station.arrivalTime }} {{station.scheduledArrival}}</div>
      <div class="station-info">
        <p>{{ station.name }}</p>
        <p>{{ station.distance }} km Platform {{ station.platform }}</p>
      </div>
      <div class="time right">{{ station.departureTime }} {{ station.scheduledDeparture }}</div>
      <!-- <ng-container *ngIf="station.scheduledArrival">
        <div class="scheduled-time left">{{ station.scheduledArrival }}</div>
      </ng-container>
      <ng-container *ngIf="station.scheduledDeparture">
        <div class="scheduled-time right">{{ station.scheduledDeparture }}</div>
      </ng-container> -->
    </div>
  </div>
</div>