/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-primary-color{
    background-color: #43b3b3;
    color: #ffffff;
}

.primary-color{
    color: #43b3b3;
}

.icon-primary{
    background-color: #43b3b3;
}
