/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './app/utils/variables.scss';
.bg-primary-color{
    background-color: $primary-color;
    color: $white-color;
}

.primary-color{
    color: $primary-color;
}

.secondary-color{
    color: $secondary-color;
}

.bg-theme-color-4{
    background-color: $theme-color-4;
    color: $secondary-color
}

.icon-primary{
    background-color: $primary-color;
}

.f-w-500{
    font-weight: 500;
}



