<div class="container my-3 ">
  <div class="row">
    <div class="container-fluid col-md-4">
      <div class="card my-3 py-3 shadow-lg p-3 mb-5 bg-white rounded">    
        <div class="card-body">
          <div class="card-title">
            <h6 class="d-flex align-items-baseline" >Welcome to <h5 class="primary-color" >Train Mitra</h5></h6>
          </div>
          <form [formGroup]="trainSearchForm" class="mt-3"  (ngSubmit)="findTrain()" >
            <div class="row" >
              <div class="col-md-12 d-flex justify-content-center" >

                <mat-form-field  class="mx-3" appearance="outline">
                  <mat-label>From</mat-label>
                  <input #input1
                         type="text"
                         placeholder="From Station"
                         matInput
                         formControlName="fromStation"
                         [matAutocomplete]="auto"
                         (input)="filter('input1')"
                         (focus)="filter('input1')"
                  >
                  <mat-icon class="location-icon-from" aria-hidden="false" aria-label="home icon" matSuffix fontIcon="location_on"></mat-icon>
                  <mat-autocomplete requireSelection #auto="matAutocomplete">
                    @for (option of filteredOptions; track option) {
                      <mat-option [value]="option.name">{{option?.name}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-12 d-flex justify-content-center mb-3">
                <mat-icon class="secondary-color" (click)="swapStation()" >swap_vertical_circle</mat-icon>
                <mat-icon class="secondary-color" (click)="swapStation()" >swap_vert</mat-icon>
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <mat-form-field  class="mx-3" appearance="outline">
                  <mat-label>To</mat-label>
                  <input #input2
                         type="text"
                         placeholder="To Station"
                         matInput
                         formControlName="toStation"
                         [matAutocomplete]="auto"
                         (input)="filter('input2')"
                         (focus)="filter('input2')"
                  >
                  <mat-icon class="location-icon-to" aria-hidden="false" aria-label="home icon" matSuffix fontIcon="location_on"></mat-icon>
                  <mat-autocomplete requireSelection #auto="matAutocomplete">
                    @for (option of filteredOptions; track option) {
                      <mat-option [value]="option.name">{{option?.name}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <mat-form-field appearance="outline" >
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="journyDate" [min]="date" >
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker  ></mat-datepicker>
                </mat-form-field>              
              </div>
              <div class="col-md-12 d-flex justify-content-center d-grid gap-2">
                <!-- <button mat-stroked-button class="primary-color" [disabled]="trainSearchForm.invalid" type="submit" >Find Trains</button> -->
                 <button class="btn btn-outline-secondary bg-theme1" [disabled]="trainSearchForm.invalid" >Find Trains</button>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="img-container">
        <img src="./../../../assets/train.jpg" height="100%" width="100%" alt="train">
      </div>
    </div>
  </div>
</div>