@import './../../utils/variables.scss';

.card:hover{
  box-shadow: 5px 5px 5px 5px #e6e6e6;
}

.location-icon-from{
  color: $success-color;
}

.location-icon-to{
  color: $danger-color;
}

.my-container{
  display: flex;
  justify-content: space-between;
}

.img-container{
  height: calc(100vh - 200px);
  width: 95%;
}

.inner-container{
  display: flex;
  flex-direction: column;
}

::ng-deep .material-icons{
  font-size: 30px !important; 
}

::ng-deep .mat-icon{
  height: 30px !important; 
  width: 30px !important;
}

::ng-deep .mat-stroked-button{
  border: 1px solid $secondary-color;
  color: $secondary-color;
}

::ng-deep .mat-mdc-outlined-button:not(:disabled){
  border: 1px solid $secondary-color;
  color: $primary-color !important;
}
